* {
border: 1px solid red;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

.flex-container {
  display: flex;
  margin: 0px;
  padding: 0px;
  width: 1200px;
  position: center;
}

#header {
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 80px;
  background-color: black;
  border-bottom: 1px solid seashell;
  align-items: center;
}

header img {
  height: 50px;

}

nav {
justify-content: flex-end;
flex-grow: 1;
text-decoration: underline;
}


#Mission {
  height: 700px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
}

.content {

}
 h2 {
   display: block;
   background-color: black;
 }

 h4 {
   display: block;
   background-color: black;
 }
