* {
border: 1px solid red;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

.flex-container {
  display: flex;
  padding: 0px;
  width: 1200px;
  position: center;
  justify-content: center;
  flex-wrap: wrap;
}

#header {
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 80px;
  background-color: black;
  border-bottom: 1px solid seashell;
  align-items: center;
}

header img {
  height: 50px;

}

nav {
justify-content: flex-end;
flex-grow: 1;
text-decoration: underline;
}


#Mission {
  height: 700px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  justify-content: center;
  align-content: center;
  margin-top: 80px;
}

.flex-container .content {
  display: block;
  margin: auto;
  background-color: black;
  width: 1200px;

}
 h2 {
   display: block;
   background-color: black;
   background-size: 100%;
 }

 h4 {
   display: block;
   background-color: black;
 }

 .store {
  height: 700px;
  width: 1000px;
  margin: auto;
  padding-top: 70px;
}

#items-container {
  display: flex;
  flex-direction: row;
}

.item {
  padding: 5px;
}
