a {
  color: seashell;
}
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

.flex-container {
  display: flex;
  padding: 0px;
  margin: 0px;
  width: 1200px;
  justify-content: center;
  position: center;
}

#header {
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 80px;
  background-color: black;
  border-bottom: 1px solid seashell;
  align-items: center;
}

header img {
  height: 50px;
}

div {
  display: block;
}



nav {
justify-content: flex-end;
flex-grow: 1;
justify-content: space-between;
text-decoration: underline;
}


#mission {
  height: 700px;
  width: 1200px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  justify-content: center;
  align-content: center;
}

.flex-container .content {
  display: block;
  margin: auto;
  background-color: black;
  width: 1200px;

}
 h2 {
   display: block;
   background-color: black;
   background-size: 100%;
 }

 h4 {
   display: block;
   background-color: black;
 }

 #store {
  height: 700px;
  width: 1200px;
  margin: auto;
  padding-top: 70px;
  justify-content: center;
  align-content: center;
}

#items-container {
  width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item img {
  height: 200px;
  margin: 10px;
  display: block;
}

.item {
  padding: 5px;
}

#locations-container {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  width: 1200px;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-top: 70px;
}

.location {
  padding-top: 50px;
  background-color: black;
  height: 250px;
  flex-basis: 280px;
  flex-direction: column;
}


footer {
  width: 1200px;
  height: 200px;
  display: block;
}

#copyright {
  padding-top: 40px;
  text-align: left;
}
